.hero-section{
    display: flex;
    height: 121vh;
    background-color: rgb(249,248,255);
    padding-top: 150px;
    padding-left: 10px;
    justify-content: space-between;
    position: relative;
}
.book-img{
    position: absolute;
    top: 100px;
    left: 48%;
}
.rev-div{
    width: 188.7px;
    height: 67.33px;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    gap: 12px;
    background-color: white;
    border: 1px solid rgb(169, 159, 222);
    position: absolute;
    top: 360px;
    left: 53%;
    animation: upDown 9s ease-in-out infinite;
}
.rev-div div{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.rev-divs{
    width: 188.7px;
    height: 67.33px;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    gap: 10px;
    background-color: white;
    border: 1px solid rgb(169, 159, 222);
    position: absolute;
    bottom: 140px;
    right: 7%;
    animation: upDown 9s ease-in-out infinite;
}
.rev-divs div{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.rate-pos{
    font-size: 23px;
    font-weight: 600;
    color: rgb(34, 24, 89);
}
.rev-rate{
    font-size: 15px;
    font-weight: 400;
    color: rgb(34, 24, 89);
    white-space: nowrap;
}
.gate-div{
    display: flex;
    align-items: center;
    gap: 9px;
}
.bulb-icons{
    font-size: 20px;
    color:rgb(85, 60, 223);
}
.gate-div p{
    font-size: 17px;
    font-weight: 500;
    color: rgb(85, 60, 223);
}
.unlock-text{
    margin-top: 24px;
}
.unlock-text h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
    color: rgb(34,24,89);
}
.discover-txt{
    margin-top: 37px;
}
.discover-txt p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(119, 119, 119);
    line-height: 26px;
}
.view-btn{
    width: 218.9px;
    height: 55.3px;
    background-color: rgb(85,60,223);
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.view-btn:hover{
    background-color:rgb(255, 255, 255);
    color: rgb(85, 60, 223);
    transition: .4s ease-in-out;
    cursor: pointer;
    border: 1px solid rgb(85, 60, 223);
}
.prof-div{
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 30px;
}
.prof-img{
    display: flex;
    align-items: center;
}
.stud-div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.two-s{
    font-size: 24px;
    font-weight: 600;
    color: rgb(34,24,89);
}
.join-s{
    font-size: 16px;
    font-weight: 400;
    color: rgb(149,149,150);
}
.hero-img{
    margin-top: 17px;
}
.hero-img img{
    width: 100%;
    height: 596.9px;
    object-fit: contain;
}

@keyframes upDown {
    0% {
      transform: translateY(0); /* Starting position */
    }
    50% {
      transform: translateY(-30px); /* Moves up by 30px */
    }
    100% {
      transform: translateY(0); /* Returns to starting position */
    }
  }