.studys-sec{
    height: 730px;
    background-image: url(../../assets/bg-2.jpg);
    display: flex;
    gap: 60px;
    padding-top: 110px;
    padding-left: 19px;
}
/* .boy-girl{
    display: flex;
    gap: 20px;
    position: relative;
} */
.cycle-logo{
}
.cycle-logo img{
    position: absolute;
    transform: translateX(-50%);
    top: 190px;
    left: 140px;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    backdrop-filter: blur(12px);
    filter:  brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    animation: rotate360 14s linear infinite;
    transform-origin: center; 
}
.boy-img{
    height: 409.979px;
    width: 184.865px;
    border-radius: 5px;
}
.girl{
    margin-top: 80px;
}
.girl-img{
    height: 386.208px;
    width: 374.802px;
    border-radius: 5px;
}
.why-txt{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.ex-div{
    margin-top: 15px;
}
.ex-div h1{
    font-size: 39px;
    font-weight: 600;
    color: white;
    line-height: 49.6px;
}
.ded-div{
    margin-top: 30px;
}
.ded-div p{
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 26px;
}
.bulb-div{
    display: flex;
    align-items: center;
    gap: 11px;
}
.ins-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 40px;
}
.ins-div{
    width: 165px;
    height: 64.166px;
    border: 1px solid rgb(103, 78, 242);
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 5px;
}
.ins-div img{
    width: 43px;
    height: 44px;
}
.exp-txt p{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.al-btn{
    width: 226.948px;
    height: 55.33px;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(85, 60, 223);
    border-radius: 4px;
    margin-top: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}
.go-icons{
    font-size: 20px;
}
.al-btn:hover{
    background-color: rgb(85, 60, 223);
    color: white;
    transition: .4s ease-in-out;
    cursor: pointer;
    border: 1px solid white;
}
@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }